<!-- views/reviews-new.handlebars -->

<form method="POST" action="/reviews">
    <fieldset>
        <legend>New Review</legend>
        <!-- TITLE -->
        <p>
            <label for="review-title">Title</label><br>
            <input id="revie-title" type="text" name="title">
        </p>
    <!-- Description -->
    <p>
        <label for="description-text">Description</label><br>
        <textarea id="description-text" name="description" rows="10"></textarea>
    </p>
    </fieldset>

<!-- BUTTON -->
<p>
    <button type="submit" name="button">Save Review</button>
</p>

</form>
